@import "reset.scss";

$bleu: #35d3da;
$green: #9cb806;
$red: #f23c06;
$accent: #f89c12;
$text: #68008b;

$breakpoint-phone: 300px;
$breakpoint-tablet: 768px;

$paddings: (
    x: 1rem,
    y: 0.5rem
);

$none: none;
$block: block;

@function pad($paddingsname){
    @return map-get($paddings, $paddingsname)
}

@mixin button-borders() {
    border-bottom: solid 1px $text;
    border-right: solid 1px $text;
    border-left: solid 1px white;
    border-top: solid 1px white; 
    }

/* @mixin visibility() {
    div{
        &:nth-of-type(1){
            display:none;
        }
        &:nth-of-type(2){
            display:none;
        }
        &:nth-of-type(3){
            display:block;
        }
    } */

body{
    background-color: $bleu;
    font-family: roboto, sans-serif;
    text-align: center;
    color: $text;
    margin: 2rem;
    main{
        display: flex;
        flex-direction: row;
        gap: 2%;

        /* div{
            &:nth-of-type(1){
                display:none;
            }
            &:nth-of-type(2){
                display:none;
            }
            &:nth-of-type(3){
                display:block;
            }
        } */
    }
}

@media only screen and (max-width: $breakpoint-phone - 1px){
    body{
        background-color: $red;
        nav{
            ul{
                flex-direction: column ;
            }
        }
        main{
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            flex: wrap;
            
            /* div{
                &:nth-of-type(1){
                    display:block;
                }
                &:nth-of-type(2){
                    display:none;
                }
                &:nth-of-type(3){
                    display:none;
                }
            } */
        }
        footer{
            .footer-wrapper{
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 1em;
            }
        }
        
    }

}
@media only screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet){
    body{
        background-color: $green;
        main{
            flex-wrap: wrap;
            div{
                &:nth-of-type(1){
                    flex-basis: 66%;
                }
                &:nth-of-type(2){
                    flex-basis: 32%;
                }
            }

            /* div{
                &:nth-of-type(1){
                    display:none;
                }
                &:nth-of-type(2){
                    display:block;
                }
                &:nth-of-type(3){
                    display:none;
                }
            } */
        }
    }
}

h1{
    font-size: 5vw;
}

nav{ 
    margin-bottom: 2rem;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        align-items: center;
    }
        .active {
            color: $accent;
        }
        li{
            @include button-borders; 
            padding: pad(x) pad(x)+pad(y);
            border-radius: pad(y);
            a{
                color: $text
            }  
        }     
}

footer{
    position: fixed;
    bottom: 0;
    width: 94.5%;
    .footer-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
        border-top: solid 1px $text;
        div{
            padding: pad(x) pad(x)+pad(y);
        }
    }
}
